<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Submission failed</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />

    <style>
      h1 {
        text-align: center;
      }
      h5 {
        text-align: center;
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>

  <body>
    <div class="container mt-5">
      <img
        src="https://assets-v2.lottiefiles.com/a/b5641ed8-1152-11ee-ada0-8f4e8e17569e/AVXn9ghicT.gif"
        style="max-width: 3%; max-height: 3%"
        class="center" />
      <h1>Sorry !!</h1>
      <h5>Your submission has already been sent</h5>

      <img
        src="https://assets-v2.lottiefiles.com/a/0e30b444-117c-11ee-9b0d-0fd3804d46cd/BkQxD7wtnZ.gif"
        style="max-width: 40%; max-height: 40%"
        alt=""
        class="center" />
    </div>
  </body>
</html>
